.current-info.daily {
  background: gray;
  animation: animation 0.8s ease;
  overflow: hidden;
}
.daily-forecast {
  margin: 10px;
}
@keyframes animation {
  0% {
    height: 0px;
    padding: 0;
  }
  30% {
    height: 0px;
  }
  100% {
    height: 500px;
  }
}
