.wrap.daily-forecast__card {
  background-color: rgba(211, 211, 211, 0.637);
  padding: 0 5px;
  flex-direction: row;
  font-size: 12px;
  margin-bottom: 15px;
  min-width: 280px;
}
.card__date {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.card__info {
  display: flex;
  flex-basis: 200px;
  justify-content: space-between;
}
.info__temp {
  display: flex;
}
.temp__celcius {
  display: flex;
  align-items: center;
}
.temp__celcius > strong {
  margin-right: 10px;
}
.info__temp > img {
  width: 50px;
}
.info__weather {
  display: flex;
  align-items: center;
}
