.current-info {
  background: url("https://static5.depositphotos.com/1038117/449/i/600/depositphotos_4492489-stock-photo-sea-and-coconut-palm.jpg");

  max-width: 350px;

  padding: 5px;
  border-radius: 10px;
}
